
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'roboto', serif;
}

body{
    background: linear-gradient(to right, #d27fd2, #e6e6e6);
    opacity: 20px;
    padding-top: 40px;
    border-radius: 40px;
}

.table-flex{
    background-color: #ffffff;
    border: solid;
    padding-top: 120px ;
    margin-left: 80px;
    text-align: center;
    width: 80%;
 border-collapse: collapse;
 font-size: small;
}
thead tr{
    background-color: rgb(31, 29, 29);
    font-size: small;
    color: aliceblue;

}
tbody tr td{
    padding: 10px 15px;
}
tbody tr:nth-child(even) {
    background-color: #e2e2e2;
}

   
